.wrapper{
position: relative;
}
.navbar{
    position: absolute;
    top: 0;
    width: 100%;
}
.image{
    min-height: 100vh !important;
}
.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card_set{
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 5px 0.5px grey;
    border-radius: 5px;
}
.icon{
    font-size: 32px;
}
.field{
    border: none;
    border-bottom: 1px solid black;
    // width: 100%;    
}
.field::placeholder{
    font-size: 16px;
}
.option_bar{
    margin-left: 12px;
    border: none;
    border-bottom: 1px solid black;
    width: 86%;
    outline: none;
}
.btn1{
    float: right;
}
.fr{
    float: right;
}
.list{
    list-style-type: none;
}
.list li a{
    text-decoration: none;
    color:black;
}
.list li{
    padding: 10px 0px !important;
}
.size{
    font-size: 17px;
    background: transparent;
    border: none;
    outline: none;
}
.size1{
    font-size: 17px;
}
.padd{
    padding-top: 1.5rem !important ;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: 2.5rem !important;
}
.btn-detail {
    border: 0 !important;
    padding: 0 !important;
    background-color: initial !important;
    color: #039be5!important;
    cursor: pointer!important;
    // font-size: 16px;
    font-family: raleway !important;}
    .margin_l{
        margin-left: 20px;
    }
    .wrapper1{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    // horizontal center
    align-items: center;
    // vertical center
}
@media only screen and (max-width:675px){
.margin_b{
    margin-bottom: 10px;
}
.button1{
    line-height: 17px;
    width: 156px !important;
}
.setting{
    margin-top: 45px !important;
}
.screen{
    margin-top: 130px;   
}
.screen1{
    margin-top: 27px !important;
}
}
.offcanvas-start{
    width: 300px !important;
}
.debitAndCredit {
    padding: 0 7.5px;
    border-radius: 5px;
    background-color: #d3d3d3;
    color: #fff;
    font-size: 10px}
@media only screen and (max-width:800px) {
    // .btn-nav{
    //     display: block !important;
    // }
    .logo{
        // display: none;
        text-align: center !important;
}
}

// @media screen and (max-width: 40em){
//     .table-responsive thead {
//         display: block;
// }
// .table-responsive td.pivoted {
//     border: none!important;
//     border-bottom: 1px solid #000;
//     position: relative;
//     padding-left: 50%!important;
//     text-align: left!important;
// }
// }